body {
    font-family: 'Calibri';
    transition: 0.5s ease;
    text-align: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 25%, rgba(78,82,97,1) 60%, rgba(0,212,255,1) 90%, rgba(255,255,255,1) 100%) no-repeat;
    padding-top: 7%;
    touch-action: manipulation;
}

.game-container {
    margin: 0px auto;
}

#map-and-controls {
    justify-content: center;
    align-items: center;
}

#controls {
    margin-left: 10px;
    text-align: center;
    touch-action: manipulation;
}

#controls button {
    padding: 10px 10px;
    width: 38px;
    height: 38px;
    margin-top: 10px;
    background-color: #DDD;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    touch-action: manipulation;
}

#controls button::before {
    content: '';
    width: 0px;
    position: absolute;
}

#controls #horiz {
    display: flex;
    align-items: center;
    justify-content: center;
}

button#right {
    margin-left: 5px;
}

button#left {
    margin-right: 5px;
}

button#left::before {
    border-top: 10px solid transparent;
    border-right: 15px solid #000;
    border-bottom: 10px solid transparent;
    left: 10px;
    top: 9px;
}

button#right::before {
    border-top: 10px solid transparent;
    border-left: 15px solid #000;
    border-bottom: 10px solid transparent;
    left: 12px;
    top: 9px;
}

button#up::before {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #000;
    left: 9px;
    top: 9px;
}

button#down::before {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 15px solid #000;
    left: 9px;
    top: 12px;
}

p {
    margin: 10px 0px;
    padding: 0px;
    text-align: center;
}

.game-map {
    position: relative;
    margin: 0px auto;
    border: 5px solid darkslategrey;
    padding: 15px;
    background-color: black;
    border-radius: 50px;
}

div.layer,
div.layer div {
    position: absolute;
}

#tiles div {
    border: 1px solid darkgrey;
    border-radius: 3px;
}

.wall {
    background-color: red;
}

.floor {
    background-color: lightgreen;
}

.player {
    background-color: #513f3a;
    border: 1px solid #bbd8d8;
    transition: left 0.2s linear, top 0.2s linear;
    transform-origin: center;
    transform:scale(0.60);
}

.goal {
    background-color: #2600ff;
    border: 2px solid #0cbdea;
    transform-origin: left;
    transform:scale(0.90);
}

#progressBar {
    width: 300px;
    height: 30px;
}

@media screen and (max-width: 500px) {
    .game-map {
        padding: 0px;
        border: 0px;
    }
}